<label for="search-name">用户名：</label>
<input id="search-name" type="text" name="userName"
       (keyup.enter)="getList()"
       [(ngModel)]="query.name" placeholder="请输入用户名">
<button (click)="getList()">搜索</button>
<button (click)="exportToExcel()">下载Excel</button>
<table class="mat-table-sticky">
  <tr>
    <th>ID</th>
    <th>用户名称</th>
    <th>用户密码</th>
    <th>密码是否被锁</th>
    <th>账号是否被锁</th>
    <th>用户描述</th>
    <th>密码是否过期</th>
    <th>创建时间</th>
    <th>创建者ID</th>
    <th>密码生存周期</th>
  </tr>

  <tr *ngFor="let use of userList">
      <td>{{use.id}}</td>
      <td>{{use.name}}</td>
      <td>{{use.authenticationString}}</td>
      <td>{{use.passwordLocked}}</td>
      <td>{{use.accountLocked}}</td>
      <td>{{use.description}}</td>
      <td>{{use.passwordExpired}}</td>
      <td>{{use.createTime | date:'yyyy:MM:dd HH:mm:ss'}}</td>
      <td>{{use.createId}}</td>
      <td>{{use.passwordLifetime}}</td>
  </tr>

</table>
