
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/pages/users" >用户列表</a>
      <a mat-list-item routerLink="/pages/roles">角色列表</a>
      <a mat-list-item routerLink="/pages/add-user">添加用户</a>
      <a mat-list-item routerLink="/pages/add-role">添加角色</a>
      <a mat-list-item routerLink="/pages/heroes">英雄</a>
      <a mat-list-item routerLink="/pages/download">下载</a>
      <a mat-list-item routerLink="/pages/dashboard">Dashboad</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>前端学习项目</span>

      <span class="spacer"></span>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a (click)="logout()" >退出</a>
    </mat-toolbar>

    <ng-content></ng-content>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
